.Yo{
    width: 300px;
    height: 250px;
}

body {
    background-color: rgba(128, 128, 128, 0.491) !important;
}
.container{
    background-color: #f4f4f4;
}

.mitarea{
    background-color: rgba(93, 232, 211, 0.675);
}
.mitarea2{
    background-color: rgba(93, 232, 211, 0.675);
}
.mitarea3{
    background-color: rgba(93, 232, 211, 0.675);
}
.face{
    width: 100px;
    height: 100px;
}
.insta{
    width: 100px;
    height: 100px;
}
.whatsapp{
    width: 100px;
    height: 100px;
}